@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,300,400,500,700,900&display=swap"rel="stylesheet");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-direction: none;
  position: relative;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--img {
  display: flex;
  width: 48px;
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  transition: all 300ms ease;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
}

h1 {
  font-size: 48px;
  color: black;
  font-weight: 700;
  /* margin-left: 0;
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center;*/
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid blue;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: blue;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: blue;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: blue;
}

.blue {
  color: blue;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  background-color: blue;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  transition: all 300ms ease;
}

.btn:hover {
  cursor: pointer;
}
/*  LANDING - REVISED */

#landing {
  padding: 80px 0;
  position: relative;
  max-width: 100vw;
}

.landing__container {
  padding: 96px 0;
  display: flex;
  width: 100%;
  max-width: 1280px;
}

/*  HEADER SECTION - REVISED */

header {
  position: relative;
}

.container {
  padding: 96px 0;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header__description {
  width: 42%;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid gray;
  padding: 20px 192px 20px 32px;
  color: darkblue;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
  cursor: pointer;
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.logostrip__img {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
  width: 100%;
}

.header__img {
  width: calc(100% - 42%);
  width: 100%;
  max-width: 748px;
}

/*  FEATURES */

#features {
  position: relative;
  max-width: 100vw;
}

.container__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.features__h1 {
  margin: 8px 0;
}

.features__h2 {
  margin: 16px 0;
  font-size: 42px;
  font-weight: 700px;
}

.features__para {
  margin: 16px 16px;
}

.container__services {
  display: flex;
  flex-wrap: wrap;
}

.container__service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 24px;
}

.container__service--img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.container__service--para {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* QUALITY WORK */

#quality {
  padding: 0 32px;
  max-width: 100vw;
}

.container__quality {
  padding: 96px 0;
}

.row__quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px auto;
  width: 100%;
  max-width: 1280px;
}

.quality__description {
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
}

.quality__text {
  width: 50%;
  display: flex;
  font-size: 16px;
  color: blue;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.quality__h4 {
  font-size: 48px;
  font-weight: 900;
  color: darkblue;
  margin: 16px 0;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.quality__para {
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  color: #7c8ba1;
}

.learn__btn {
  background-color: blue;
  color: #fff;
  padding: 12px 32px;
  border-radius: 500px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  transition: all 300ms ease;
  margin-top: 32px;
  width: 240px;
  cursor: pointer;
}

.quality__img--wrapper {
  width: 50%;
  height: 450px;
  border-radius: 4px;
  border: 1px solid lightgray;
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}

/*  STEPS  */

#steps {
  padding: 80px 0;
  max-width: 100vw;
}

.container__steps {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.container__textbox--step {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.steps__h4 {
  font-size: 16px;
}

.steps__h5 {
  font-size: 32px;
  margin: 16px 0;
}

.steps__list {
  display: flex;
  flex-direction: column;
}

.steps__list-one {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.steps__list--number {
  font-size: 24px;
  color: grey;
  margin-right: 26px;
}

.steps__list--container {
  max-width: 320px;
}

.steps__list--para {
  font-size: 12px;
  margin-top: 12px;
}

/* VALUES */

#values {
  padding: 0 32px;
  max-width: 100vw;
}

.container__values {
  padding: 96px 0;
}

.values__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container__textbox--values {
  width: 50%;
  padding: 32px 64px 32px 0;
}

.values__h4 {
  font-size: 16px;
  padding: 8px 8px;
}

.values__h5 {
  font-size: 32px;
  padding: 8px 8px;
}

.container__values--para {
  line-height: 1.7;
  font-weight: 400;
}

.values__container {
  display: flex;
}

.values__container--affordable {
  margin-top: 32px;
}

.values__affordable--title {
  display: flex;
  align-items: center;
}

.values__dollar--wrapper {
  background-color: green;
  transform: scale(1);
  border-radius: 9999px;
  overflow: hidden;
  height: 24px;
  width: 40px;
  margin-right: 8px;
}

.values__affordable--header {
  font-size: 20px;
  font-weight: 700;
}

.values__container--para {
  margin-top: 16px;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

.values__container--pro {
  margin-top: 32px;
}

.values__suitcase--wrapper {
  background-color: #9c530a;
  transform: scale(1);
  height: 26px;
  width: 24px;
  border-radius: 9999px;
  overflow: hidden;
  margin-right: 8px;
}

#values .btn {
  margin-top: 48px;
  max-width: 100vw;
}

.values__img {
  width: 50%;
}

/*  PRICING PLANS */

section {
  padding: 0 32px;
}

.container__pricing {
  padding: 96px 0;
}

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.section__tag {
  font-size: 16px;
  color: blue;
  letter-spacing: 1.6px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: darkblue;
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 576px;
  font-size: 18ps;
  font-weight: 500;
  color: gray;
  line-height: 1.625;
}

.plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 100;
}

.plan {
  width: 100%;
  max-width: 384px;
  margin: 64px 32px 0 0;
  padding-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  background: #fff;
}

.plan__stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
}
.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__top,
.plan__middle,
.plan__bottom {
  padding: 32px;
  text-align: center;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan__name {
  font-size: 20px;
}

.plan__name,
.plan__price,
.plan__duration {
  font-weight: 700;
  line-height: 1.625;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px olid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__bottom {
  padding: 32px 96px;
  z-index: 10;
  position: relative;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 329, 217) 100%
  );
}

.plan__button {
  text-align: center;
  padding: 16px 32px;
  border-radius: 500px;
  border: none;
  font-size: 14px;
  width: 100%;
  max-width: 192px;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: all 300ms ease;
  cursor: pointer;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan {
  width: 100%;
  max-width: 384px;
  margin: 64px 32px 0 0;
  padding-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  background: #fff;
}

.plan:nth-child(2) .plan__stripe {
  visibility: hidden;
}

.plan:nth-child(1) .plan__stripe {
  border-color: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  visibility: visible;
  color: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan:nth-child(2) .plan__button {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/*  TESTIMONIALS SECTION  */

#testimonials {
  padding: 0 32px;
  max-width: 100vw;
}

.testimonial__container {
  padding: 96px 0;
}

.testimonial__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.testimonial__love__img {
  width: 50%;
}

.testimonials__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.testimonials__h4 {
  font-size: 16px;
  color: blue;
  letter-spacing: 1.6;
  font-weight: 700;
}

.testimonials__h5 {
  font-size: 32px;
  font-weight: 900;
  color: darkblue;
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  max-width: 576px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: gray;
  line-height: 1.625;
}

.testimonials {
  margin-top: 32px;
}

.testimonial__rating {
  color: #fabf2a;
}

.testimonial__title {
  margin-top: 24px;
  font-weight: 700;
  color: darkblue;
  font-size: 20px;
  line-height: 1.5;
}

.testimonials__para {
  margin: 16px 0px 40px 0;
  color: darkblue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
}
*/ .testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__img {
  margin-top: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__details {
  margin-left: 24px;
}

.testimonial__name {
  font-weight: 700;
  color: darkblue;
  font-size: 20px;
  line-height: 1.5;
}

.testimonial__role {
  color: grey;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: lightgray;
  color: blue;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms ease;
  border: none;
}

.divider {
  width: 1px;
  height: 24px;
  background: lightgray;
  font-weight: 700;
}

/*  GET STARTED SECTION  */

#start {
  padding: 96px 0;
  max-width: 100vw;
}

.getstarted__container {
  padding: 96px 0;
}

#start .row {
  position: relative;
  overflow: hidden;
}

.start__container {
  padding: 96px 0;
  width: 100;
  background-color: #be2ed6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__row {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.getstarted__title,
.getstarted__btn {
  width: 50%;
}

.getstarted__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  z-index: 2;
}

.getstarted__btn {
  background-color: #f56565;
  width: 170px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  transition: all 300ms ease;
  cursor: pointer;
}

.contactus__btn {
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin: 1px;
  z-index: 2;
  border: 1px solid;
  border-color: #fff;
  background-color: #be2ed6;
  transition: all 300ms ease;
  cursor: pointer;
}

/*  FOOTER  */

footer {
  background-color: #be2ed6;
  color: #fff;
  padding: 96px 32px;
}

.footer__container {
  width: 100%;
  max-width: 1280px;
}

.footer__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__columns {
  margin-top: -48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.footer__column--title {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer__column--link {
  margin-top: 24px;
  color: #f7fafc;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.footer__divider {
  width: 100%;
  max-width: 1280px;
  height: 2px;
  margin: 64px 0;
  background: #fff;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: 32px;
  width: 32px;
}

.footer__logo--text {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-left: 8px;
}

.footer__copyright {
  color: #cbd5e0;
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social--link {
  margin-left: 16px;
  margin-right: 16px;
  padding: 8px;
  background: #f7fafc;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}

/* MOBILE RESPONSIVENESS ↓  */
/*  LAPTOPS, DESKTOP */

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
  .row {
    max-width: 50%;
  }
  .header__email {
    max-width: 50%;
  }
  .img {
    max-width: 20%;
  }
  .header__img--wrapper {
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  .nav__links {
    display: none;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 40px 0;
  }
  .nav {
    flex: 1 1 auto;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
  .row {
    width: 30%;
    min-width: 550px;
  }
  .header__email {
    max-width: 50px;
  }
  .img {
    width: 20%;
    height: auto;
  }
  .header__img--wrapper {
    width: 20%;
    height: auto;
  }
  .quality__container {
    padding: 36px 0;
  }
  .row__quality {
    width: 33%;
  }
  .quality__h4 {
    font-size: 16px;
  }
  .quality__img--wrapper {
    width: 20%;
    height: auto;
  }
  .learn__btn {
    width: 10%;
    padding: 6px 16px;
  }
  .container__steps {
    width: 30%;
  }
  #steps {
    padding: 20px 0;
  }
  .steps__img--wrapper {
    width: 25%;
  }
  .container__textbox--step {
    width: 25%;
  }
  .steps__h5 {
    font-size: 16px;
  }
  .steps__list--container {
    max-width: 180px;
  }
  .steps__list--number {
    font-size: 12px;
  }
.container__pricing {
    padding: 48px 0;
    min-width: 550px;
}
.section__title {
    font-size: 24px;
}
.plans {
    width: 50%;
}
.plan {
    width: 50%;
    max-width: 174px;
}
.plan__price {
    font-size: 8px;
}
.plan__button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 50px;
    width: 50%;
    max-width: 82px;
}
  }